{{!< layout}}

<div id="menu" class="menu-wrap">
	<header class="aui-page-header">
	    <div class="aui-page-header-inner">
	    	<div class="aui-page-header-main intro-header">
	    		<div id = "header">
	    			<div id="header_name">
	    				<img id="avatar">
	    				<label id="project_name_label"></label>
	    			</div>
	    			<div id="header_version">
	    				<table id = "version_table">
	    					<tr>
	    						<td width="25%"><label id="fix_version_label">Fix Version: </label></td>
	    						<td width="25%"><label id="num_issues_lab"># of Issues: </label></td>
	    						<td width="25%"><label id="release_date_lab">Release Date: </label></td>
	    						<td width="25%"><label id="released_lab">Status: </label></td>
	    					</tr>
	    					<tr>
	    						<td width="25%"><select id="version_select"></select>	 </td>
	    						<td width="25%"><label id="num_issues_label"></label></td>
	    						<td width="25%"><label id="release_date_label"></label></td>
	    						<td width="25%"><label id="released_label"></label> </td>
	    					</tr>
	    				</table>
	    					 				
	    			</div>
	    			
	    		</div>
	    </div>
    </header>
</div>

<div id="main" class="aui-page-panel main-panel">
    <div class="aui-page-panel-inner">
        <section class="aui-page-panel-item">
             <div class="aui-group">
                <div class="aui-item">
                    <div class="display">
                    
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<div id="main_pagination">
	<div id ="pagination">

	</div>
</div>

<div id="no_fix_versions">
	No Fix Versions
</div>

<div id="config">
	<form id="configForm" class='aui'>
		<div class='field-group'>
			<label for='itemTitle'>Title:</label>
			<input class='text medium-field' type='text' id='itemTitle' />
		</div>
		<div class='field-group'>
			<label for='selectedProject'>Project:<span class='aui-icon icon-required'>required</span></label>
			<select class='select' id='selectedProject'></select>
		</div>
		<div class='field-group'>
			<label for='numRows'>No. Rows to display:<span class='aui-icon icon-required'>required</span></label>
			<select class='select' id='numRowsSelect'></select>
		</div>
		<div class='buttons-container'>
			<button type='submit' id='saveConfiguration' class='aui-button'>Save</button>
		</div>
	</form>
</div>

 