/* add-on styles */
.aui-page-hybrid {
	position: relative;
	height: auto;
	min-height: 100% !important;
	overflow: hidden;
}

#no_fix_versions {
	margin: auto;
	width: 100%;
	text-align: center;
	color: red;
}

#header {
	overflow: hidden;
	width: auto;
	display: inline;
	vertical-align: middle;
}

#header_name {
	display: block;
	padding-bottom: 10px;
}

#header_version {
	display: block;
}

#avatar {
	width: 15px;
	height: 15px;
}

#pagination * {
	padding: 20px 15px;
	text-align: center;
	color: #3B73AF;
}

#currentLocation {
	background-color: white;
}

#currentLocation{
	border-style: solid;
	font-style: italic;
}

