/* add-on styles */
.aui-page-hybrid {
	overflow-x: scroll;
    overflow-y: hidden;
}

#no_fix_versions {
	margin: auto;
	width: 100%;
	text-align: center;
	color: red;
}

.aui-page-panel-item {
	padding-bottom: 5px;
}

#menu {
	padding-top: 10px;
}

#header {
	overflow: hidden;
	width: auto;
	display: inline;
	vertical-align: middle;
	color: #3B73AF;
}

#header_name {
	display: block;
	padding-bottom: 10px;
}

#num_issues_lab {
	padding-left: 30px;
}

#num_issues_label {
	color: red;
}

#release_date_lab {
	padding-left: 10px;
}

#release_date_label {
	color: red;
}

#released_lab {
	padding-left: 10px;
}

#released_label {
	color: red;
}

#header_version {
	
}

#header_details {
	color: red;
}

#avatar {
	width: 15px;
	height: 15px;
}

#main_pagination {
	width: 100%;
}

#pagination {
	width: auto;
	color: #3B73AF;
	text-align: center;
	padding: 5px 0px 20px 0px; /* top right bottom left */
}

#pagination * {
	padding: 10px 15px 10px 15px;
}

#currentLocation {
	background-color: white;
	color: red;
}

#currentLocation {
	font-style: italic;
}